@import "./colors.scss";
@import "./fonts.scss";
@import "./Login.scss";
@import "./navigation.scss";
@import "./user.scss";
@import "./mainView.scss";
@import "./item.scss";
@import "./itemList.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100% !important;
    background: $gradient; 
    color: white; 
    font-family: "Roboto";
    touch-action: pan-y;
}

#root {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    font-family: "Raleway";
    font-weight: bold;
}

section.wrapper {
    margin: 2rem;
}

.container {
    max-width: 100%;
    padding: 2rem;
    margin: 2rem 0;
    min-height: 200px;
    border-radius: 3px;
    background: rgba($highlight, 0.9);

    &.main {
        background: rgba($main, 0.9);
    }

    &.second {
        background: rgba($second, 0.9);
    }
}
